header {
    height: 100px;
    background-image: url(../img/pattern.png);
    height: 150px;
    background-color: rgb(112, 212, 252);
}

.logo {
    height: 50px;
    margin: 50px;
    padding-left: 150px;
}

h1 {
    font-size: 40px;
    padding-left: 200px;
    margin-bottom: 0px;

}

.scrittab {
    font-weight: 300;
    color: rgb(112, 212, 252);
}

.sezione1010 {
    padding-left: 200px;
}

.data {
    color: rgb(116, 115, 115);
    text-align: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.data2 {
    color: rgb(116, 115, 115);
    margin-top: 0px;
    
}


.immagini {
    padding-left: 200px;
}

.foto {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Lorem {
    padding-left: 150px;
    height: 100px;
    width: 1500px;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}

ul {
    font-size: 20px;
    padding-left: 225px;
}

.evizenziato {
    font-weight: 300;
    background-color: rgb(236, 236, 36);
}

table {
    padding-left: 200px;
    width: 1750px
}

thead {
    height: 10px;
    background-color: rgb(44, 83, 227);
    color: white;
}

.bodytr {
    height: 40px;
    background-color: rgb(160, 178, 244);
    
}

.bodytr1 {
    height: 40px;
    
}

footer {
    height: 40px;
    width: auto;
    text-align: center;
    color: white;
    background-color: rgb(44, 83, 227);
    padding: 10px;
}


.th1{
    text-align: left;
    
}

.bodytd{
text-align: justify;

}

div{
    height: 100px;
}

.bodytd1{
    width: 300px;
    text-align: left;
}